parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: config/breadcrumbs.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Cache\\Repository and ''tags'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/BreadcrumbCacheObserver.php

		-
			message: '#^Method Daikazu\\Breadcrumbs\\BreadcrumbTrail\:\:jsonSerialize\(\) should return array\<int, array\{label\: string, url\: string, active\: bool, data\: array\<string, mixed\>\}\> but returns array\<int, Daikazu\\Breadcrumbs\\Crumb\>\.$#'
			identifier: return.type
			count: 1
			path: src/BreadcrumbTrail.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: src/BreadcrumbTrail.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Cache\\Repository and ''tags'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/BreadcrumbsManager.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Exceptions/InvalidTrailDataException.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Exceptions/MissingBreadcrumbException.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Trail.php
